.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
 

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.upper {
background-color: #1f2937;
}

.banner {
    display: flex;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 12px;
    border-color: #e5e7eb;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}